<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Name: <%= data.name %></p>
    <p>Age: <%= data.age %></p>
    <p>Degree: <%= data.degree %></p>
    <p>Contact: <%= data.contact %></p>
    <p>Recent: <%= data.recent %></p>
    <a href="/update/<%= data._id %>">Edit</a>
    <br>
    <br>
    <form action="/delete/<%=data._id %>?_method=DELETE" method="post">
      <button>Delete</button>
    </form>
  </body>
</html>
